* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************** Loader *****************/

.loader-cont {
  display: flex;
  justify-content: center;
}

/***************** Navbar *****************/

.navBar {
  width: 95%;
  margin: auto;
  color: rgb(250, 59, 59);
  display: flex !important;
  justify-content: space-between;
  padding: 1rem 2rem !important;
}

.heading {
  position: relative;
}

.favorites {
  position: relative;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.heading:hover,
.favorites:hover {
  color: rgb(255, 87, 87);
}

.heading:hover:after {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  bottom: -0.5rem;
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  animation-name: underline-heading;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.favorites:hover:after {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  bottom: -0.5rem;
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  animation-name: underline-favorites;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes underline-heading {
  0% {
    width: 0;
  }
  100% {
    width: 8rem;
  }
}

@keyframes underline-favorites {
  0% {
    width: 0;
  }
  100% {
    width: 5rem;
  }
}

/***************** Banner *****************/

.banner-card {
  z-index: -1;
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
  position: relative;
  height: 70vh;
  color: white;
  background-color: black;
}

.banner-img {
  height: 70vh;
  width: 100%;
  opacity: 0.4;
}

.banner-title {
  position: absolute;
  top: 40vh;
  left: 5vw;
}

.banner-text {
  position: absolute;
  top: 52vh;
  left: 5vw;
  height: 4.5rem;
  overflow: hidden;
  margin-right: 5vw;
}

/***************** Trending Heading *****************/

.trending-header {
  color: white;
  margin: 3rem 0;
}

.trending-header::after {
  background: none repeat scroll 0 0 rgb(250, 59, 59);
  bottom: -0.6rem;
  content: "";
  display: block;
  height: 0.3rem;
  position: relative;
  margin: auto;
  width: 7rem;
}

/***************** Movies List *****************/

.movies-card {
  position: relative;
  border: 1px solid white;
  width: 25vw;
  height: 40vh;
  background-color: black;
  color: white;
  margin: 0.5rem 1rem;
}

.movies-image {
  opacity: 0.7;
  height: 100%;
}

.movies-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-title {
  position: absolute;
  top: 1rem;
}

.btn-cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies-btn {
  border: 0.05rem solid white;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 3rem;
}

.movies-btn:hover {
  border: 0.05rem solid rgb(199, 199, 199);
  background-color: rgb(7, 7, 7);
  color: white;
}

.movies-body {
  padding: 0 1rem;
}

/***************** Pagination *****************/

.page-link {
  background-color: rgb(17, 17, 17);
  color: rgb(250, 59, 59);
  font-weight: 500;
}

.page-link:hover {
  background-color: rgb(46, 45, 45);
  color: rgb(250, 59, 59);
  font-weight: 500;
}

.pagination-cont {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/***************** Favorites *****************/

.favorites-genres {
  padding: 0rem 2rem;
}

.favorites-table {
  padding: 0rem 3rem;
  overflow: auto;
}

.favorites-genres > li {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.favorites-table input {
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: none;
  margin-left: 0.2rem;
}

.table {
  color: white;
}

th {
  color: #b9b9b9;
}

tr,
th,
td {
  padding: 0.2rem;
}

.titles {
  font-weight: 600;
}

.titles > img {
  margin-right: 0.5rem;
}

.popularity:hover,
.rating:hover {
  cursor: pointer;
}

/***************** Responsiveness *****************/

@media screen and (max-width: 400px) {
  .banner-card {
    height: 30vh;
  }
  .banner-img {
    height: 30vh;
  }
  .banner-title {
    top: 12vh;
    left: 5vw;
  }
  .banner-text {
    top: 17vh;
    left: 5vw;
  }
  .movies-card {
    width: 40vw;
    margin: 0.1rem;
  }
  .movies-button {
    width: 80%;
  }
  .movies-img {
    width: 40vw;
  }
}
